<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收藏列表</title>
    <link rel="stylesheet" href="{CSS_PATH}hfy_shop_list.css">
    <link rel="stylesheet" href="{FONT_PATH}iconfont/iconfont.css">
    <script src='{JS_PATH}rem.js'></script>
    <script src='{JS_PATH}jquery.min.js'></script>
    <script src='{JS_PATH}hfy_shop_list.js'></script>
</head>
<body>
<header>
    <a href='index.php?a=mrrPre' class="colFan">&lt;</a>
    <div class="colZI">我的收藏</div>
    <div class="colFan"></div>
</header>
<div class="colDao">
    <div class="colDao-son son1">
        <div class="colDao-sond"></div>
        <p>文章</p>
        <div class="colDao-sond"></div>
    </div>
    <div class="colDao-son">
        <div class="colDao-sond"></div>
        <p>图片</p>
        <div class="colDao-sond"></div>
    </div>
</div>
<main>
    <div class="collect_article">
        <section class='shop_module'>
            <div class="shop_title">
                <div class="colMain-top">
                    <p>Today&nbsp;<span>{$t['time']}</span></p>
                    <p>Select</p>
                </div>
            </div>
            <ul class="attention_list">
                {foreach $row as $r}
                <li>
                    <a href="index.php?a=content&id={$r['id']}" style="display: block;overflow: hidden;width: 100%;height: 100%;">
                    <div class="attention_pic">
                        <img src="{$r['img1']}" alt="">
                    </div>
                    <div class="attention_content">
                        <div class="content_title">
                            {$r['name']}
                        </div>
                        <div class="underline">
                            <div class='underline_box'></div>
                            <div class="underline_line"></div>
                        </div>
                        <div class="title_chinese">
                            {$r['says']}
                        </div>
                        <div class="title_english">
                            {$r['english']}
                        </div>
                        <div class="content_footer">
                            <span class="series">兰/花/系/列</span>
                            <div class="like_collect">
                                <img src="{IMG_PATH}hfy_like.png" alt="">
                                &nbsp;
                                <span>                            {$r['likes']}
</span>
                                &nbsp;&nbsp;
                                <img src="{IMG_PATH}hfy_collect.png" alt="">
                                &nbsp;
                                <span>                            {$r['coll']}
</span>
                            </div>
                        </div>

                    </div>
                    <div class="attention_page">
                    </div>
                    </a>
                </li>
                {/foreach}
            </ul>
        </section>
        <section class='shop_module'>
            <div class="shop_title">
                <div class="colMain-top">
                    <p>Today&nbsp;<span>{$ts['time']}</span></p>
                    <p>Select</p>
                </div>
            </div>
            <ul class="attention_list">
                {foreach $arr as $a}

                <li>
                    <a href="index.php?a=content&id={$r['id']}" style="display: block;overflow: hidden;width: 100%;height: 100%;">
                    <div class="attention_pic">
                        <img src="{$r['img2']}" alt="">
                    </div>
                    <div class="attention_content">
                        <div class="content_title">
                            {$a['name']}
                        </div>
                        <div class="underline">
                            <div class='underline_box'></div>
                            <div class="underline_line"></div>
                        </div>
                        <div class="title_chinese">
                            {$a['says']}

                        </div>
                        <div class="title_english">
                            {$a['english']}
                        </div>
                        <div class="content_footer">
                            <span class="series">兰/花/系/列</span>
                            <div class="like_collect">
                                <img src="{IMG_PATH}hfy_like.png" alt="">
                                &nbsp;
                                <span>{$a['likes']}</span>
                                &nbsp;&nbsp;
                                <img src="{IMG_PATH}hfy_collect.png" alt="">
                                &nbsp;
                                <span>{$a['coll']}</span>
                            </div>
                        </div>

                    </div>
                    <div class="attention_page">
                    </div>
                    </a>
                </li>
                {/foreach}
            </ul>
        </section>
    </div>

    <div class="collect_image">
        <div class="collect_pic">
            <div class="colMain-top">
                <p>Today&nbsp;<span>{$t['time']}</span></p>
                <p>Select</p>
            </div>
            <div class="colMain-conter">

                <div class="colMain-pic">
                    <div class="colMain_shade">
                        <div class="colMain_shade">
                            <div class="shade_circle">
                                <i class="iconfont icon-htmal5icon22"></i>
                            </div>
                        </div>
                    </div>
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
            </div>
        </div>
        <div class="collect_pic">
            <div class="colMain-top">
                <p>Today&nbsp;<span>{$ts['time']}</span></p>
                <p>Select</p>
            </div>
            <div class="colMain-conter">
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
            </div>
        </div>
        <div class="collect_pic">
            <div class="colMain-top">
                <p>Today&nbsp;<span>{$t['time']}</span></p>
                <p>Select</p>
            </div>
            <div class="colMain-conter">
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>
                <div class="colMain-pic">
                    <img src="{IMG_PATH}mrr6.png" alt="">
                </div>

            </div>
        </div>
    </div>

</main>
<footer>
    <footer>
        <div class="share">
            <i class="iconfont icon-shoucang"></i>
            <span>分享</span>
        </div>
        <div class="del">
            <i class="iconfont icon-shoucang"></i>
            <span>删除</span>
        </div>
        <div class="checkall">
            <i class="iconfont icon-shoucang"></i>
            <span>全选</span>
        </div>
    </footer>
</footer>
</body>
</html>