<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Bootstrap Advance Admin Template</title>

    <!-- BOOTSTRAP STYLES-->
    <link href="{CSS_PATH}bootstrap.css" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{CSS_PATH}font-awesome.css" rel="stylesheet" />
    <!--CUSTOM BASIC STYLES-->
    <link href="{CSS_PATH}basic.css" rel="stylesheet" />
    <!--CUSTOM MAIN STYLES-->
    <link href="{CSS_PATH}custom.css" rel="stylesheet" />
    <!-- GOOGLE FONTS-->

</head>
<style>
    .panel{
        width: 1200px;
    }
    th,td{
        text-align: center;
    }
    .table  tbody  tr  td{
        height: 80px;
        line-height: 80px;
    }
    .juzhong img{
        width: 80px;
        height: 80px;
        margin: 0 auto;
    }
    .text{
        width: 100%;
        height: 100%;
        padding: 3px;
        resize: none;
        line-height: 20px;
        font-size: 10px;
        color:black;



    }
</style>
<body>

            <div class="row">

                <div class="col-md-6">
                     <!--    Context Classes  -->
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            Context Classes
                        </div>

                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>姓名</th>
                                            <th>密码</th>
                                            <th>头像</th>
                                            <th>性别</th>
                                            <th>生日</th>
                                            <th>电话</th>
                                            <th>邮箱</th>
                                            <th>积分</th>
                                            <th>公司</th>
                                            <th>证书</th>
                                            <th>简介</th>
                                            <th>评价</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                    {$str}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--  end  Context Classes  -->
                </div>
            </div>
                <!-- /. ROW  -->


            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->


    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{JS_PATH}jquery.js"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{JS_PATH}bootstrap.js"></script>
     <!-- METISMENU SCRIPTS -->
    <script src="{JS_PATH}jquery.metisMenu.js"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{JS_PATH}custom.js"></script>


</body>
</html>
